@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.table {
  border: 1px black solid;
  box-shadow: 3px 3px grey;
  border-radius: 5px;
  width: 30%;
  height: 40%;
  padding: 1px 0px 20px 20px;
  margin: 8% auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.login {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin-top: 2rem;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: var(--bg);
  color: black;
  width: 95%;
}

.login {
  background-color: rgb(243, 240, 79);
  border: 1px;
}

.login:hover {
  background-color: rgba(218, 231, 69, 0.834);
  border: 1px;
}

.email {
  border: 2px solid grey;
  padding: 10px 10px;
  border-radius: 6px;
  width: 85%;
}

.password {
  border: 2px solid grey;
  padding: 10px 10px;
  border-radius: 6px;
  width: 85%;
}

.email:hover {
  border: 2px solid black;
  transition: 2ms;
}
.password:hover {
  border: 2px solid black;
  transition: 2ms;
}

h2 {
  text-align: center;
  padding-right: 20px;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}
