* {
	margin: 0;
	padding: 0;
}

.body {
	background-color: #121212;
	color: #EFEFEF;
	background-size: cover;
}

.profile_pict {
	width: 65px;
	height: 67px;
	border-radius: 10%;
}

.todolist {
	/*background-color:red;*/
	width: 80%;
	height: 100%;
	margin: auto;
	margin-top: 10%;
	border-radius: 20px;
	border:1px solid #EFEFEF;
}

div .todolist .row {
	width: 95%;
	/*background-color: blue;*/
	margin: auto;
}

.logout {
	color: white;
	border: 1px solid #FEFEFE;
	border-radius: 25px;
	background-color: #121212;
	padding: 5px 15px;
}

.plus_button {
	color: white;
	border: 1px solid #FEFEFE;
	border-radius: 25px;
	background-color: #121212;
	padding: 5px 5px;
}

.tambah {
	color: white;
	border: 1px solid #FEFEFE;
	border-radius: 25px;
	background-color: #121212;
	padding: 5px 25px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close,.close_profile,.close_remind_menu,.close_AEreminder {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close_profile:hover,
.close_profile:focus,
.close_remind_menu:hover,
.close_remind_menu:focus,
.close_AEreminder:hover,
.close_AEreminder:focus {
  color: #FEFEFE;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #212121;
  color: white;
}

.modal-body {
	padding: 2px 16px;
	background-color: darkgray;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #212121;
  color: white;
}

.form-control {
	margin: 5px;
}

.checkme {
  -webkit-appearance: none; /* Remove default styling */
  -moz-appearance: none;
  appearance: none;
  pointer-events: none; /* Disable pointer events */
}

.checkme:checked {
  background-color: blue; /* Set the desired background color */
}

.select_pet:hover {
  background-color: #EFEFEF;
  border: 3px solid #EFEFEF;
  cursor: pointer;

}

.selected {
  
  border: 2px solid white;
  
  cursor: pointer;

  -webkit-box-shadow: 0px 0px 16px 0px #EFEFEF;
  -moz-box-shadow: 0px 0px 16px 0px #EFEFEF;
  box-shadow: 0px 0px 16px 0px #EFEFEF;
}
